<%-include("../layouts/adminHeader.ejs")%>



<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i
                            class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div>
            <a href="/admin/adminlogut" class="btn btn-primary">Logout</a>
          </div>
    </header>
    <section class="content-main">
        <div class="row" style="background-color: #e7d1d1;">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">
                            Save to draft
                        </button>
                        <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form id="addProForm" action="/admin/addProductData" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <%if(existProduct){%>
                                    <h2 class="error">Product Exist</h2>
                                <%}%>
                                <div class="input-group mb-3">
                                    <div>

                                        <label for="productName" class="form-label" style="display: block;" >Product Name</label><br>
                                    </div>
                                    <input name="productName" id="productName" type="name" class="form-control"
                                        placeholder="Product Name" required  style="display: block;"/>
                                </div>

                                <div class="input-group mb-3">
                                    <label class="container">
                                        <span>Select Parent Category</span>
                                        <select name="parentCategory" class="form-select"
                                            aria-label="Default select example">
                                            <option value="select" selected disabled>select</option>
                                            <% categoryDetail.forEach((categories)=>{%>
                                                <option value="<%=categories.categoryName%>">
                                                    <%=categories.categoryName%>
                                                </option>
                                            <%})%>
                                                
                                        </select>
                                    </label>
                                </div>

                                <div class="mb-3">
                                    <div id="imageDiv" class="d-flex flex-wrap gap-5"></div>
                                    <div>
                                      <label for="image" class="form-label">Image</label>
                                      <input
                                        type="file"
                                        class="form-control"
                                        id="image"
                                        name="images"
                                        accept="image/*"
                                        multiple
                                        onchange="loadFile(event)"
                                        required
                                      />
                                    </div>
                                    <!-- Close button -->
                                    <button type="button" style="width: fit-content; display: none;" id="cls-btn" class="btn btn-danger mt-2" onclick="clearImageInput()">Clear images</button>
                                  </div>
                
                                <!-- <div id="img-container" class="input-group mb-3">
                                    <img id="preview1" src="" style="width: 500px; height: 500px; display: none"
                                        alt="Img" name="productImage1" accept='image/*' />
                                    <img id="croppedImg1" src="" style="width: 500px; height: 500px; display: none"
                                        alt="Img"  name="productImage2" accept='image/*' />
                                    <div class="input-group mb-3">
                                        <input id="input-img1" name="productImage1" type="file" class="form-control"
                                            placeholder="Product Image1" onchange="displayImage1(event)" accept='image/*' required />
                                    </div>
                                </div> -->
<!-- 
                                <div class="input-group mb-3">
                                    <img id="preview2" src="" style="width: 500px; height: 500px; display: none"
                                        alt="Img" accept='image/*' />
                                    <img id="croppedImg2" src="" style="width: 500px; height: 500px; display: none"
                                        alt="Img" accept='image/*' />
                                    <div class="input-group mb-3">
                                        <input id="input-img2" name="productImage2" type="file"
                                            class="form-control" placeholder="Product Image2"
                                            onchange="displayImage2(event)" accept='image/*' required />
                                    </div>
                                </div> -->

                                <!-- <div class="input-group mb-3">
                                    <img id="preview3" src="" style="width: 500px; height: 500px; display: none"
                                    alt="Img" accept='image/*' />
                                    <img id="croppedImg3" src="" style="width: 500px; height: 500px; display: none"
                                    alt="Img" accept='image/*' />
                                    <div class="input-group mb-3">
                                        <input id="input-img3" name="productImage3" type="file"
                                            class="form-control" placeholder="Product Image3"
                                            onchange="displayImage3(event)" accept='image/*' required />
                                    </div>
                                </div> -->

                                <div class="input-group mb-3">
                                    <label for="productPrice" style="display: block;">Product Price : </label> <br>
                                    <input name="productPrice" type="tel" class="form-control"
                                        placeholder="Product Price" id="productPrice" required />
                                </div>
                                <div class="input-group mb-3">
                                    <label for="Product Stock" style="display: block;">Product Stock : </label> <br>
                                    <input name="productStock" type="tel" class="form-control"
                                        placeholder="Product Stock" required />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-info">Save changes</button>
                            </div>
                        </form>

                        <!-- 
                        <div>
                            <input type="file" class="form-control" id="input-img" aria-describedby="emailHelp"
                                name="image" accept="image/*" required onchange="displayImage1(event)" />
                        </div>
-->
                    </div>
                </div>
                <!-- card end// -->
            </div>
        </div>
        <style>
            .form-control{
            background-color:wheat ; 
           }
        </style>
    </section>
    <!-- content-main end// -->
  <script>

  </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"
        integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
        integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>



        <!-- action="" method="POST" -->


        <script src="assets/plugins/jquery/jquery-3.5.1.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/plugins/simplebar/simplebar.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script>
        <style>
            .error{
                color:red;

            }
        </style>

        <script>

            $("#addProForm").validate({
                rules:{
                    productName:{
                        required:true,
                        minlength:3,
                        pattern:/^[a-zA-Z]/
                    },
                    parentCategory:{
                        required:true,
                    },
                    productPrice:{
                        required:true,
                        min:1,
                        pattern:/^\d+(-\d+)*$/
                    },
                    productStock:{
                        required:true,
                        min:1,
                        pattern:/^\d+(-\d+)*$/
                    }

                }
            })

        </script>

        <!-- cropped -->
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>


<script>
    let crop = [];
async   function loadFile(event) {
      let imageDiv = document.getElementById("imageDiv");
      imageDiv.innerHTML = "";

      const maxImages = 3;
      const files = event.target.files;
      if (files.length > maxImages) {
        
        alert(`Please select only up to ${maxImages} images.`);
        document.getElementById("image").value = ""; // Clear the file input
        return;
      }

      for (let i = 0; i < files.length; i++) {
        const file = files[i];

        const reader = new FileReader();

        reader.onload = (e) => {
          // Create an image element and set its source to the selected file
          const div = document.createElement("div");
          div.style.height = "300px";
          div.style.width = "300px";
          const img = new Image();
          img.src = e.target.result;
          img.style.margin = "30px";

          // Append the image to the container
          div.appendChild(img);
          imageDiv.appendChild(div);

          // Initialize Cropper.js on the image
          const cropper = new Cropper(img, {
            aspectRatio: 3.5 / 4, // Set the aspect ratio as needed
            viewMode: 1, // Set the view mode as needed
          });

          // Store the cropper instance in the croppers array
          crop.push(cropper);
        };

        reader.readAsDataURL(file);
      }
      // document.getElementById("img-container").style.height = "200px"

      document.getElementById("cropButton").addEventListener(
        "click",
        function () {
          // Get the cropped canvas data
          const canvas = cropper.getCroppedCanvas();

          // Set the source of the cropped image
          croppedImg.src = canvas.toDataURL("image/png");

          canvas.toBlob(function (blob) {
            const file = new File([blob], "croppedImg.png", {
              type: "image/png",
            });

            const formData = new FormData();
            formData.append("image", file);

            fetch("/addproduct", {
              method: "POST",
              body: formData,
            })
              .then((response) => response.json())
              .then((data) => {
                // Check if the upload was successful
                if (data.success) {
                  // Optionally, you can handle success here
                  window.location.href = "/products"; // Change this URL
                } else {
                  // Handle the case where upload was not successful
                  console.error("Upload failed:", data.error);
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });

          cropper.destroy();
          // image.style.display = "none";
        },
        "image/png"
      );
      document.getElementById("cls-btn").style.display="block"
    }
  </script>

<script>
    function clearImageInput() {
      // Reset the value of the input file element
      document.getElementById('image').value = '';
      // Optionally, clear any displayed images
      document.getElementById('imageDiv').innerHTML = '';
      document.getElementById("cls-btn").style.display="none"
     

    }
  </script>

    <!-- <script>
        function displayImage1(event) {
            let image = document.getElementById("preview1");
            let croppedImg = document.getElementById("croppedImg1");
            let inputImg = document.getElementById("input-img1");
            image.src = null;
            croppedImg.src = "";

            const file = event.target.files[0];

            console.log("start");
            console.log(file);

            if (file) {
                image.src = URL.createObjectURL(file);
                console.log("second");

                let cropper = new Cropper(image, {
                    aspectRatio: 5 / 4,
                    autoCrop: false,
                });
                // document.getElementById("img-container").style.height = "200px"

                document.getElementById("cropButton").addEventListener(
                    "click",
                    function () {
                        // Get the cropped canvas data
                        const canvas = cropper.getCroppedCanvas();

                        // Set the source of the cropped image
                        croppedImg.src = canvas.toDataURL("image/png");

                        canvas.toBlob(function (blob) {
                            const file = new File([blob], "croppedImg.png", {
                                type: "image/png",
                            });

                            const formData = new FormData();
                            formData.append("image", file);

                            fetch("/addproduct", {
                                method: "POST",
                                body: formData,
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    // Check if the upload was successful
                                    if (data.success) {
                                        // Optionally, you can handle success here
                                        window.location.href = "/products"; // Change this URL
                                    } else {
                                        // Handle the case where upload was not successful
                                        console.error("Upload failed:", data.error);
                                    }
                                })
                                .catch((error) => {
                                    console.error("Error:", error);
                                });
                        });

                        cropper.destroy();
                        // image.style.display = "none";
                    },
                    "image/png"
                );
            }
        }

        function displayImage2(event) {
            let image = document.getElementById("preview2");
            let croppedImg = document.getElementById("croppedImg2");
            let inputImg = document.getElementById("input-img3");
            image.src = null;
            croppedImg.src = "";

            const file = event.target.files[0];

            console.log("start");
            console.log(file);

            if (file) {
                image.src = URL.createObjectURL(file);
                console.log("second");

                let cropper = new Cropper(image, {
                    aspectRatio: 5 / 4,
                    autoCrop: false,
                });
                // document.getElementById("img-container").style.height = "200px"

                document.getElementById("cropButton").addEventListener(
                    "click",
                    function () {
                        // Get the cropped canvas data
                        const canvas = cropper.getCroppedCanvas();

                        // Set the source of the cropped image
                        croppedImg.src = canvas.toDataURL("image/png");

                        canvas.toBlob(function (blob) {
                            const file = new File([blob], "croppedImg.png", {
                                type: "image/png",
                            });

                            const formData = new FormData();
                            formData.append("image", file);

                            fetch("/addproduct", {
                                method: "POST",
                                body: formData,
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    // Check if the upload was successful
                                    if (data.success) {
                                        // Optionally, you can handle success here
                                        window.location.href = "/products"; // Change this URL
                                    } else {
                                        // Handle the case where upload was not successful
                                        console.error("Upload failed:", data.error);
                                    }
                                })
                                .catch((error) => {
                                    console.error("Error:", error);
                                });
                        });

                        cropper.destroy();
                        // image.style.display = "none";
                    },
                    "image/png"
                );
            }
        }

        function displayImage3(event) {
            let image = document.getElementById("preview3");
            let croppedImg = document.getElementById("croppedImg3");
            let inputImg = document.getElementById("input-img3");
            image.src = null;
            croppedImg.src = "";

            const file = event.target.files[0];

            console.log("start");
            console.log(file);

            if (file) {
                image.src = URL.createObjectURL(file);
                console.log("second");

                let cropper = new Cropper(image, {
                    aspectRatio: 5 / 4,
                    autoCrop: false,
                });
                // document.getElementById("img-container").style.height = "200px"

                document.getElementById("cropButton").addEventListener(
                    "click",
                    function () {
                        // Get the cropped canvas data
                        const canvas = cropper.getCroppedCanvas();

                        // Set the source of the cropped image
                        croppedImg.src = canvas.toDataURL("image/png");

                        canvas.toBlob(function (blob) {
                            const file = new File([blob], "croppedImg.png", {
                                type: "image/png",
                            });

                            const formData = new FormData();
                            formData.append("image", file);

                            fetch("/addproduct", {
                                method: "POST",
                                body: formData,
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    // Check if the upload was successful
                                    if (data.success) {
                                        // Optionally, you can handle success here
                                        window.location.href = "/products"; // Change this URL
                                    } else {
                                        // Handle the case where upload was not successful
                                        console.error("Upload failed:", data.error);
                                    }
                                })
                                .catch((error) => {
                                    console.error("Error:", error);
                                });
                        });

                        cropper.destroy();
                        // image.style.display = "none";
                    },
                    "image/png"
                );
            }
        }
    </script> -->

    <!-- <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script> -->

    <!-- {{!-- onchange image display --}} -->
    <!-- <script>
        function displayImage1() {
            const reader = new FileReader()
            reader.onload = () => {
                preview1.src = reader.result
            }
            const file = document.querySelector("#productImage1").files[0];
            if (file) {
                preview1.style.display = 'block'
                reader.readAsDataURL(file)
            }
        }
        function displayImage2() {
            const reader = new FileReader()
            reader.onload = () => {
                preview2.src = reader.result
            }
            const file = document.querySelector("#productImage2").files[0];
            if (file) {
                preview2.style.display = 'block'
                reader.readAsDataURL(file)
            }
        }
        function displayImage3() {
            const reader = new FileReader()
            reader.onload = () => {
                preview3.src = reader.result
            }
            const file = document.querySelector("#productImage3").files[0];
            if (file) {
                preview3.style.display = 'block'
                reader.readAsDataURL(file)
            }
        }
    </script> -->
