

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Titan Watchs</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->

    <link rel="shortcut icon" href="../assets/images1/slidesshow-banners/smart-watch.png" />
    <!-- Template CSS -->
      <link href="../assets1/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside" >
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <!-- <img src="/images/logo.png" class="logo" alt="Evara Dashboard" style="width: 600px; height: 39px ;margin-right: 16px;"> -->
                <h2 style="color:black">Watchs</h2>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productPage"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">orders</span>
                    </a>
                </li> -->
                <li class="menu-item">
                    <a class="menu-link" href="/admin/catagories"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/Coupons"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orderManagment"> <i class="icon material-icons md-star"></i>
                        <span class="text">Order Managment</span>
                    </a>
                </li>
               
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productOfferManagement"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Product Offer</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category-offer-list"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Categroey Offer</span> </a>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-settings-1.html"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li> -->
               <!-- <a href="/admin/adminlogut">

                   <input type="button" value="logout">

               </a> -->
            </ul>
            
           
            <br>
            <br>
        </nav>
    </aside>
    <script src="/assets1/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/assets1/js/vendors/select2.min.js"></script>
<script src="/assets1/js/vendors/perfect-scrollbar.js"></script>
<script src="/assets1/js/vendors/jquery.fullscreen.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>

<!-- Main Script -->
<script src="/assets1/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>