<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watches Store</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        
    </style>
   <!-- Favicon -->
<link rel="shortcut icon" href="../../assets1/images1/slidesshow-banners/smart-watch.png" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/plugins.css">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">


<!-- hari templeate css-->



    <!-- PLUGINS CSS STYLE -->
    <!-- <link href="assets3/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href='assets3/plugins/fontawesome-5.15.2/css/all.min.css' rel='stylesheet'> -->
    <!-- <link href='assets3/plugins/fontawesome-5.15.2/css/fontawesome.min.css' rel='stylesheet'> -->
    <!-- <link href='assets3/plugins/material/css/materialdesignicons.min.css' rel='stylesheet' /> -->
    <!-- <link href="assets3/plugins/animate/animate.css" rel="stylesheet"> -->
    <!-- <link href='assets3/plugins/simplebar/simplebar.css' rel='stylesheet' /> -->
    
    <link href="../../assets3/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
    <link href='../../assets3/plugins/fontawesome-5.15.2/css/all.min.css' rel='stylesheet'>
    <link href='../../assets3/plugins/fontawesome-5.15.2/css/fontawesome.min.css' rel='stylesheet'>
    <link href='../../assets3/plugins/material/css/materialdesignicons.min.css' rel='stylesheet'  />
    <link href="../../assets3/plugins/animate/animate.css" rel="stylesheet">
    <link href='../../assets3/plugins/animate/animate.css' rel='stylesheet' />
    
    
    
    <style>
        body,p{
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
    
    
    
    
    

    <!-- CUSTOM CSS -->
    <!-- <link href="assets3/css/style.css" rel="stylesheet"> -->
    <link href="../../assets3/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets3/css/default.css" id="option_style">

    <!-- Icons -->
    <!-- <link rel="shortcut icon" href="../../assets3/img/favicon.png"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>




    <!-- // watch css -->
    <link rel="shortcut icon" href="../../assets1/images1/slidesshow-banners/smart-watch.png" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="../assets/css/plugins.css">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/css/responsive.css">

</head>
<body class="template-index belle template-index-belle">
<div id="pre-loader">
    <img src="assets/images/loader.gif" loading="lazy" alt="Loading..." />
</div>
    <div class="pageWrapper">
        <!--Search Form Drawer-->
        <div class="search">
            <div class="search__form">
                <form class="search-bar__form" action="#">
                    <button class="go-btn search__button"  id="productSearchBtn" type="submit"><i class="icon anm anm-search-l"></i></button>
                    <input class="search__input" type="search" name="q" value="" id="productSearch" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
                </form>
                <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
            </div>
        </div>
        <!--End Search Form Drawer-->
        <!--Top Header-->
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                     
                        <div class="language-dropdown">
                            <span class="language-dd">English</span>
                            <ul id="language">
                                <li class="">German</li>
                                <li class="">French</li>
                            </ul>
                        </div>
                        <%if(isAlive){%>
                    <button style="padding: 4px 24px;
                    color: wheat;
                    border-radius: 12px;
                    cursor: pointer;
                " id="logOut">Logout</button>
                        <%}%>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                        <div class="text-center"><p class="top-header_middle-text"> Worldwide Express Shipping</p></div>
                    </div>
                    <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                        <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                        <ul class="customer-links list-inline">


                            <%if(isAlive){%>

                            <%}else{%>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Create Account</a></li>
                            <%}%>

                            <li><a href="/user/wishlist">Wishlist</a></li>
                            <li>

                                <%if(isAlive){%>
                                    <a href="/user/profile">
                                        <!-- <img src="./assets/images1/slidesshow-banners/profileName.jpeg" loading="lazy" width="64" height="64" style="width: 72px; height: 49px;"  class="rounded"> -->
                                        <i class="bi bi-images"><%=isAlive.userName%></i>
                                    </a>
                                <%}else{%>
                                    <!-- profilePage link  -->
                                
                                    <a href="/login">
                                        <!-- <img src="./assets/images1/slidesshow-banners/profileName.jpeg" loading="lazy" width="64" height="64" style="width: 72px; height: 49px;"  class="rounded"> -->
                                        <i class="bi bi-images">pfro</i>
                                    </a>
                                <%}%>

                            </li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap classicHeader animated d-flex">
            <div class="container-fluid">        
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="/">
                            <!-- <img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" /> -->
                            <!-- <img src="assets/images1/slidesshow-banners/watch.png" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" /> -->
                            <h2 style="color:#874e4e">watches</h2>
                        </a>
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                        <div class="d-block d-lg-none">
                            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l"></i>
                                <i class="anm anm-bars-r"></i>
                            </button>
                        </div>
                        <!--Desktop Menu-->
                        <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/categories">Product <i class="anm anm-angle-down-l"></i></a></li>
                                <li class="lvl1 parent megamenu"><a href="./faqs.html">Faq <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="./about-us.html">About <i class="anm anm-angle-down-l"></i></a></li>
                              </ul>
                        </nav>
                        <!--End Desktop Menu-->
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                        <div class="logo">
                            <a href="index.html">
                                <!-- <img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" /> -->
                                <h2 style="color:#7F4A49"> wathces </h2>
                            </a>
                        </div>
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                        <a href="/viewCart">

                        
                        <div class="site-cart">
                            <a  href="/viewCart" onclick="viewCart()" style="cursor: pointer;" class="site-header__cart" title="Cart">
                                <i class="icon anm anm-bag-l"></i>
                                <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count"><%=NofWhilist%></span>
                            </a>
                            <!-- Minicart Popup -->
                       <!-- <div id="header-cart" class="block block-cart" style="background-color: white; z-index: 2;"> -->
                                <!-- <ul class="mini-products-list" style="background-color: white;">
                                    <li class="item">
                                        <a class="product-image" href="#">
                                            <img src="../../images/categoriedImages/images-1708496061229-427882936.webp" alt="Titan watch" title=" titan_watch" />
                                        </a>
                                        <div class="product-details">
                                            <a href="#" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                                            <a href="#" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                                            <a class="pName" href="cart.html">watch</a>
                                            <div class="variant-cart">Black / XL</div>
                                            <div class="wrapQtyBtn">
                                                <div class="qtyField">
                                                    <span class="label">Qty:</span>
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                    <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="priceRow">
                                                <div class="product-price">
                                                    <span class="money">$59.00</span>
                                                </div>
                                             </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a class="product-image" >
                                            
                                            <img src="../../images/categoriedImages/images-1708496061229-427882936.webp" alt="Elastic Waist Dress - Black / Small" title="" />
                                        </a>
                                        <div class="product-details">
                                            <a  class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                                            <a  class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                                            <a class="pName" href="cart.html">Elastic Waist Dress</a>
                                            <div class="variant-cart">Gray / XXL</div>
                                            <div class="wrapQtyBtn">
                                                <div class="qtyField">
                                                    <span class="label">Qty:</span>
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                    <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                               <div class="priceRow">
                                                <div class="product-price">
                                                    <span class="money">$99.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul> -->
                                <!-- <div class="total" style="background-color: white;">
                                    <div class="total-in">
                                        <span class="label">Cart Subtotal:</span><span class="product-price"><span class="money">$748.00</span></span>
                                    </div>
                                     <div class="buttonSet text-center">
                                        <a href="/viewCart" class="btn btn-secondary btn--small" style="cursor: pointer;">View Cart</a>
                                        <a href="/Checkout" class="btn btn-secondary btn--small">Checkout</a>
                                    </div>
                                </div> -->
                            <!-- </div>  -->
                            <!--EndMinicart Popup  -->
                        </div>
                        <div class="site-header__search">
                            <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header-->
         <!--Mobile Menu-->
     <div class="mobile-nav-wrapper" id="open-nav" role="navigation">
        <div class="closemobileMenu" id="closeBar"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
            <li class="lvl1 parent megamenu"><a href="/">Home</a>
        
        </li>
          
            <li class="lvl1 parent megamenu"><a href="/categories">Product </a>
        
        </li>
            <li class="lvl1 parent megamenu"><a href="/faq">FAQ </a>
         
        </li>
            <li class="lvl1 parent megamenu"><a href="/about">About </a>
          
        </li>
            <li class="lvl1"><a><b>Buy Now!</b></a>
        </li>
      </ul>
    </div>
    <!--End Mobile Menu-->


        <script>
            async function viewCart(){

                window.location.href = "/viewCart"
            }
        </script>
        <script>

            const logOut = document.getElementById("logOut")

            if(logOut){
                logOut.addEventListener("click",async(e)=>{

                    e.preventDefault()

                    const data =await fetch("/logOut",{
                        method:"POST",
                        headers:{
                            "Content-Type":"application/json"
                        }
                    })

                    const dataRes = await data.json()

                    if(dataRes.success)
                    {
                    console.log("logOut")
                    window.location.href = "/"
                    }

                    })
            }

       
        </script>