
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OTP Verification</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images1/slidesshow-banners/smart-watch.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    </head>
    <body class="page-template belle" style="background-color: whitesmoke">
        <div class="pageWrapper" >                                                                                                                                                                             
    
    
            <!--Top Header-->
            <div class="top-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                        
                            <div class="language-dropdown">
                                <span class="language-dd">English</span>
                                <ul id="language">
                                    <li class="">German</li>
                                    <li class="">French</li>
                                </ul>
                            </div>
                            <p class="phone-no"><i class="anm anm-phone-s"></i> +440 0(111) 044 833</p>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                            <div class="text-center"><p class="top-header_middle-text"> Worldwide Express Shipping</p></div>
                        </div>
                        <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                            <span onclick="openWhislistprofile()" class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                            <ul class="customer-links list-inline" id="openWhislistprofile" style="display: none;">
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Create Account</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Top Header-->
            <!--Header-->
            <div class="header-wrap classicHeader animated d-flex">
                <div class="container-fluid">        
                    <div class="row align-items-center">
                        <!--Desktop Logo-->
                        <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                            <a href="index.html">
                                <!-- <img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" /> -->
                                <!-- <img src="assets/images1/slidesshow-banners/watch.png" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" /> -->
                                <h2 style="color:#874e4e">watches</h2>
                            </a>
                        </div>
                        <!--End Desktop Logo-->
                        <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                            <div class="d-block d-lg-none">
                                <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                    <i class="icon anm anm-times-l"></i>
                                    <i class="anm anm-bars-r"></i>
                                </button>
                            </div>
                            <!--Desktop Menu-->
                            <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                                <ul id="siteNav" class="site-nav medium center hidearrow">
                                    <li class="lvl1 parent megamenu"><a href="index.html">Home <i class="anm anm-angle-down-l"></i></a>
                                    </li>
                                    <li class="lvl1 parent megamenu"><a href="categories.html">Product <i class="anm anm-angle-down-l"></i></a></li>
                                    <li class="lvl1 parent megamenu"><a href="./faqs.html">Faq <i class="anm anm-angle-down-l"></i></a>
                                    </li>
                                    <li class="lvl1 parent dropdown"><a href="./about-us.html">About <i class="anm anm-angle-down-l"></i></a>                                               </li>
                                  </ul>
                            </nav>
                            <!--End Desktop Menu-->
                        </div>
                        <!--Mobile Logo-->
                        <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                                </a>
                            </div>
                        </div>
                        <!--Mobile Logo-->
                        <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                            <div class="site-cart">
                                <a href="#;" class="site-header__cart" title="Cart">
                                    <i class="icon anm anm-bag-l"></i>
                                    <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span>
                                </a>
                                <!--Minicart Popup-->
                                <div id="header-cart" class="block block-cart">
                                    <ul class="mini-products-list">
                                        <li class="item">
                                            <a class="product-image" href="#">
                                                <img src="assets/images/product-images/cape-dress-1.jpg" alt="3/4 Sleeve Kimono Dress" title="" />
                                            </a>
                                            <div class="product-details">
                                                <a href="#" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                                                <a href="#" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                                                <a class="pName" href="cart.html">watch</a>
                                                <div class="variant-cart">Black / XL</div>
                                                <div class="wrapQtyBtn">
                                                    <div class="qtyField">
                                                        <span class="label">Qty:</span>
                                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                        <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                                <div class="priceRow">
                                                    <div class="product-price">
                                                        <span class="money">$59.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a class="product-image" href="#">
                                                <img src="assets/images/product-images/cape-dress-2.jpg" alt="Elastic Waist Dress - Black / Small" title="" />
                                            </a>
                                            <div class="product-details">
                                                <a href="#" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                                                <a href="#" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                                                <a class="pName" href="cart.html">Elastic Waist Dress</a>
                                                <div class="variant-cart">Gray / XXL</div>
                                                <div class="wrapQtyBtn">
                                                    <div class="qtyField">
                                                        <span class="label">Qty:</span>
                                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                        <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                                <div class="priceRow">
                                                    <div class="product-price">
                                                        <span class="money">$99.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="total">
                                        <div class="total-in">
                                            <span class="label">Cart Subtotal:</span><span class="product-price"><span class="money">$748.00</span></span>
                                        </div>
                                        <div class="buttonSet text-center">
                                            <a href="cart.html" class="btn btn-secondary btn--small">View Cart</a>
                                            <a href="checkout.html" class="btn btn-secondary btn--small">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                                <!--EndMinicart Popup-->
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            <!--End Header-->
     <!--Mobile Menu-->
     <div class="mobile-nav-wrapper" id="open-nav" role="navigation">
        <div class="closemobileMenu" id="closeBar"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
            <li class="lvl1 parent megamenu"><a href="/">Home</a>
        
        </li>
          
            <li class="lvl1 parent megamenu"><a href="/categories">Product </a>
        
        </li>
            <li class="lvl1 parent megamenu"><a href="/faq">FAQ </a>
         
        </li>
            <li class="lvl1 parent megamenu"><a href="/about">About </a>
          
        </li>
            <li class="lvl1"><a><b>Buy Now!</b></a>
        </li>
      </ul>
    </div>
    <!--End Mobile Menu-->
            <!--Body Content-->
            <div id="page-content" style="background-color: white; padding-top: 7em; ">
                <!--Page Title-->
                <div class="page section-header text-center">
                    <div class="page-title">
                        <div class="wrapper"><h1 class="page-width">OTP Verification</h1></div>
                    </div>
                    <%if(isWrongOtp){%>
                        <h2 style="color: red">Invalid OTP</h2>
                        <%}%>
                </div>
                <!--End Page Title-->
                
                <div class="container" style="background-color: white;">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                            <div class="mb-4">
                                <h3 style="color:#727272; padding-left: 11.2em;
                                line-height: 2em;">Please enter your the OTP sent to <br> <span style="margin-left: 66px">email Id</span> </h3>
                            <form id="otpPage"  accept-charset="UTF-8" class="contact-form">	
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group" style=" display: flex;
                                        align-items: center;
                                        justify-content: center;">
                                            <input type="tel" name="customerOTP" placeholder="553345" id="OtpValue" class="" autocorrect="off" autocapitalize="off" autofocus="" minlength="6" maxlength="6" style="width: 20em;">
                                        </div>
                                        <!-- <input id="appt-time" type="time" name="appt-time" min="12:00" max="18:00" style="    margin-left: 19em;
                                        width: 8em;
                                        margin-bottom: 1em;
                                    "/>    -->
                                    
                                    <h2 style=" text-align: center; ">
                                        Timer : 
                                    </h2>
                                    <p id="timer" style="text-align: center;">60</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="button" class="btn mb-3" id="btnOtp" value="Verify OTP" >
                                
                                    </div>
                                </div>
                            </form>
                            <!-- <h3 style="color:#727272; padding-left: 9em;
                            line-height: 2em;">Didn't receive OTP? <a href="#" style="color: #208BFF;">Resend</a></h3> -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--End Body Content-->
            
            <!--Footer-->
            <footer id="footer">
                <div class="site-footer">
                    <div class="container">
                        <!--Footer Links-->
                        <div class="footer-top">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                    <h4 class="h4">Quick Shop</h4>
                                    <ul>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Sportswear</a></li>
                                        <li><a href="#">Sale</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                    <h4 class="h4">Informations</h4>
                                    <ul>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                        <li><a href="#">Terms &amp; condition</a></li>
                                        <li><a href="#">My Account</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                    <h4 class="h4">Customer Services</h4>
                                    <ul>
                                        <li><a href="#">Request Personal Data</a></li>
                                        <li><a href="#">FAQ's</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Orders and Returns</a></li>
                                        <li><a href="#">Support Center</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                    <h4 class="h4">Contact Us</h4>
                                    <ul class="addressFooter">
                                        <li><i class="icon anm anm-map-marker-al"></i><p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p></li>
                                        <li class="phone"><i class="icon anm anm-phone-s"></i><p>(440) 000 000 0000</p></li>
                                        <li class="email"><i class="icon anm anm-envelope-l"></i><p>sales@yousite.com</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End Footer Links-->
                        <hr>
                        <div class="footer-bottom">
                            <div class="row">
                                <!--Footer Copyright-->
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left"><span></span> <a href="templateshub.net">Templates Hub</a></div>
                                <!--End Footer Copyright-->
                                <!--Footer Payment Icon-->
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                                    <ul class="payment-icons list--inline">
                                        <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <!--End Footer Payment Icon-->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--End Footer-->
            <!--Scoll Top-->
            <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
            <!--End Scoll Top-->
            
            <!-- Including Jquery -->
            <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
            <script src="assets/js/vendor/jquery.cookie.js"></script>
            <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
            <script src="assets/js/vendor/wow.min.js"></script>
    
            <!--jquary validation-->
         <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    
            <!-- Including Javascript -->
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/lazysizes.js"></script>
            <script src="assets/js/main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
            <script>
                function openWhislistprofile(){
                 
              
                  let openUl = document.getElementById("openWhislistprofile")
              
                  if(openUl.style.display == 'none'){
              
                    openUl.style.display = "block"
                  }else{
                    openUl.style.display = "none"
                  }
              
                }
              </script>
              
            <script>
            
                
    
            function timer(){
    
           
                let time = document.getElementById("timer")
                console.log(time)
                
                    
                    let a = 60
                     const timer = setInterval(()=>{
                                    time.innerHTML = a--
                                    if(a == 10)
                                    {
                                        time.style.color = "red";
                                    }else if(a>10){
                                        time.style.color = "green"
                                    }
                                    if(a === -1)
                                    {
                                        clearInterval(timer)
                                        let btnOtp = document.getElementById("btnOtp")
                                        btnOtp.value = "Resend otp"
                                        timeValue=0
                                    }
                     },1000)
    
                    // button block
    
                }
    
                timer() // call timer function
    
    
                    let btnOtp = document.getElementById("btnOtp")
    
                    btnOtp.addEventListener("click",async(e)=>{
    
                        e.preventDefault()
                        if(btnOtp.value == 'Resend otp')
                        {
                            
                            
                            btnOtp.value = "Verify OTP"
                            fetch("/resendOtp",{
                                method:"POST",
                                headers:{
                                    "Content-type":"appliction/json"
                                }
                            })
                            await   Swal.fire({
                                icon: 'success',
                                title: 'Resend OTP success',
                                showConfirmButton: false,
                                timer:3000
                            })
                            timer()
                        }
                    })
                    
                    
                    const OtpValue = document.getElementById("OtpValue")
                    
                    console.log(OtpValue)
                    
                    OtpValue.addEventListener("keyup",async (event)=>{
                        
                        const btn = document.getElementById("btnOtp")
                        
                        if(OtpValue.value.length === 6 && btn.value == "Verify OTP"){
                            
                            
                            
                            btn.addEventListener("click", async (e)=>{
    
                                e.preventDefault()
                                
                                OtpNum = OtpValue.value
                                console.log(`${OtpNum}`)
                                
                                const data = await fetch(`/user/userOtpValue`,{
                                                    method:"POST",
                                                    headers:{
                                                        "Content-Type":"application/json"
                                                    },
                                                    body:JSON.stringify({OtpNum})
                                                })
                                
                                console.log(`fectch response ${data}`)
                                
                                const json = await data.json();
                                
                                if (json.success) {
                                await   Swal.fire({
                                        icon: 'success',
                                        title: 'profile update',
                                        showConfirmButton: false,
                                        timer:3000
                                        })
                                        
                                        window.location.href = "/user/profile"
                                       
                                }else{
                                 await   Swal.fire({
                                        icon: 'error',
                                        title: 'OTP wrong',
                                        showConfirmButton: false,
                                        timer:3000
                                        })
                                    isWrongOtp= true
                                    
                                }
                                
                                
                            })
                            
                        }
                        
                    })
                    
                  
    
            </script>
        </div>
    </body>
    
    <!-- belle/login.html   11 Nov 2019 12:22:27 GMT -->